<h3><div style="text-align: center"><%= flash[:notice]  %></div></h3>
<h1><div style="text-align: center">Welcome to StepUP</div></h1> 
<h2><div style="text-align: center">The Home of Motivation since 10/20/2020</div></h2>
<img src= https://www.suwn.org/storage/images/stepup-logos/Step-Up-logo_no_tagline.jpg width="1000" height="500" class="center">
